
.gradle/7.6/checksums/checksums.lock
.gradle/7.6/dependencies-accessors/dependencies-accessors.lock
.gradle/7.6/dependencies-accessors/gc.properties
.gradle/7.6/fileHashes/fileHashes.lock
.gradle/7.6/gc.properties
.idea/vcs.xml
.idea/misc.xml
.idea/libraries-with-intellij-classes.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/compiler.xml
.gradle/vcs-1/gc.properties
.gradle/buildOutputCleanup/cache.properties
.gradle/7.6/fileChanges/last-build.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
